@page "/logout"
@inject TicketToCode.Client.Services.UserState UserState
@inject NavigationManager Navigation

<div class="container my-4 text-center">
    <h3>Du har loggats ut</h3>
    <p>Omdirigerar dig till startsidan...</p>
</div>

@code {
    protected override void OnInitialized()
    {
        UserState.Clear();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
