@page "/logout"
@inject TicketToCode.Client.Services.UserState UserState
@inject NavigationManager Navigation

<div class="container my-4">
    <div class="alert alert-info" role="alert">
        Logging out...
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        // Om du har definierat egenskaper som icke-nullable, använd tomma strängar.
        UserState.Username = string.Empty;
        UserState.Role = string.Empty;
        UserState.UserId = 0;
        Navigation.NavigateTo("/");
    }
}
