@page "/register"
@inject AuthService AuthService
@inject NavigationManager Navigation
@using TicketToCode.Client.Models
@using TicketToCode.Client.Services


<h3 class="text-center my-4">Skapa konto</h3>

<div class="form-container">
    <input @bind="Username" placeholder="Användarnamn" class="form-input" />
    <input @bind="Password" placeholder="Lösenord" type="password" class="form-input" />
    <button @onclick="RegisterUser" class="form-button">Registrera</button>
    <p>@Message</p>
</div>

@code {
    string Username = "";
    string Password = "";
    string Message = "";

    async Task RegisterUser()
    {
        var success = await AuthService.Register(Username, Password);
        if (success)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            Message = "Användarnamnet finns redan.";
        }
    }
}
