@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using TicketToCode.Client.Shared

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="alert alert-danger">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
